<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
		backupGlobals="false"
		cacheResult="false"
		colors="true"
		processIsolation="false"
		stopOnFailure="false"
		bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="PHPUnit DOM Assertions Test Suite">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="BACKEND_URL" value="http://localhost:8085/"/>
	</php>
</phpunit>
